---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-2.jpg"
>

	<p>
		Hello there! My name is Marilou Grignoli, and I'm 22 years old. I'm delighted to share a glimpse 
		of my academic journey and my passionate pursuit of HighTech Imaging, virtual reality, and augmented 
		reality.
	</p>

	<p>
		In 2021, I took a significant step forward by becoming a student at Télécom SudParis. But my path 
		here started with rigorous preparatory training at Lycée du Parc, where I immersed myself in the 
		complexities of MPSI and PSI, laying a solid foundation for my academic pursuits.
	</p>

	<p>
		Fast forward to my second year at Télécom SudParis, and that's when the real adventure began. 
		I embarked on an exhilarating exploration of the captivating world of imaging, guided by specialized 
		courses designed to prepare students for Advanced Studies (VAP). It was during these immersive 
		experiences that my fascination with technology, particularly HighTech Imaging, truly came alive.

		So, why does HighTech Imaging captivate me? Its allure lies in the boundless possibilities it offers.
		HighTech Imaging isn't just about capturing images; it's about reshaping our reality through virtual 
		and augmented experiences. It's about pushing the boundaries of what we perceive as real. This journey
		into the world of HighTech Imaging ignited a passion within me to deepen my technical skills and 
		acquire profound knowledge in the realm of virtual and augmented reality.
	</p>

	<p>
		Now, as I stand in 2023, I'm at a pivotal juncture in my academic journey. I'm actively searching 
		for an end-of-studies internship that will allow me to refine my expertise in virtual and augmented 
		reality. This forthcoming internship, scheduled to span from February to August 2023, promises to 
		be a defining chapter in my pursuit.
	</p>

	<p>
		If you're reading this and share my enthusiasm for these fields or believe you have insights, 
		collaborations, or opportunities to offer, please don't hesitate to reach out. 

        Thank you for taking the time to get to know me better, and here's to a future brimming with 
		innovation and discovery!
	</p>
</Layout>
