---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Welcome to my blog!</h1>
			<p>
				I'm Marilou, and this is where I'll be documenting my journey through the Master's program 
				in Virtual and Augmented Reality (VAR) at the Polytechnic Institute of Paris, along with 
				my specialization in High-Tech Imaging (HTI) at Télécom SudParis. Join me as I explore the 
				fascinating world of virtual and augmented reality, sharing my experiences, projects, 
				and insights gained during my academic pursuits. You'll see, that for a select few 
				of my blog posts, I started with my own ideas, and then used ChatGPT as an assistive tool to 
				refine and expand upon them. Following this, I consistently ensure that the content reflects 
				my unique perspective."
			<p>
		</main>
		<Footer />
	</body>
</html>
